.hero {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 35px;
}

.profile-wrapper {
  margin-top: 50px;

  padding: 0;

  border-radius: 50%;
  display: inline-block;
  overflow: hidden;

  box-shadow: 0 0 20px #3b82f6, 0 0 35px rgba(96, 165, 250, 0.6);

  animation: profileGlow 1.6s infinite alternate ease-in-out;
}

.profile-wrapper img {
  width: 240px;
  height: 240px;
  object-fit: cover;

  border-radius: 50%;
  display: block;
}
@keyframes profileGlow {
  from {
    box-shadow: 0 0 14px #3b82f6, 0 0 24px rgba(96, 165, 250, 0.4);
  }
  to {
    box-shadow: 0 0 28px #60a5fa, 0 0 45px rgba(96, 165, 250, 0.7);
  }
}

body.dark-mode .profile-wrapper {
  box-shadow: 0 0 15px #4d91ff;
}

.hero h1 {
  text-align: center;
  font-size: 70px;
  font-weight: 600;
  width: 75%;
}

.hero h1 span {
  background: linear-gradient(270deg, #df8908 10%, #b415ff 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.typing-text {
  color: #b415ff;
  margin-left: 6px;
  border-right: 2px solid #b415ff;
  padding-right: 5px;
  animation: blink 0.7s infinite;
}

@keyframes blink {
  0% {
    border-right-color: #b415ff;
  }
  100% {
    border-right-color: transparent;
  }
}

.hero p {
  width: 50%;
  text-align: center;
  font-size: 20px;
  line-height: 40px;
}

.hero-action {
  display: flex;
  align-items: center;
  gap: 25px;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 50px;
}

.hero-connect {
  padding: 25px 45px;
  border-radius: 50px;
  background: linear-gradient(264deg, #df8908 -5.09%, #b415ff 106.26%);
  cursor: pointer;
}

.hero-resume a {
  padding: 25px 75px;
  border-radius: 50px;
  border: 2px solid #fff;
  cursor: pointer;
  text-decoration: none;
  color: #fff;
}

body:not(.dark-mode) .hero-resume a {
  color: #000 !important;
}

.hero-resume a:hover {
  border-color: #b415ff;
}

@media (max-width: 768px) {
  .profile-wrapper {
    margin-top: 120px;
  }
  .profile-wrapper img {
    width: 200px;
    height: 200px;
  }

  .hero h1 {
    margin-top: 40px;
    width: 90%;
    font-size: 48px;
  }

  .hero p {
    width: 80%;
    font-size: 18px;
    line-height: 32px;
  }

  .hero-action {
    gap: 16px;
    font-size: 18px;
  }
}

@media (max-width: 480px) {
  .hero-action {
    flex-direction: column;
    gap: 30px;
  }
}
