.myprojects {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 80px;
  margin: 80px 170px;
}
.project-logo {
  position: relative;
}

.project-logo h1 {
  padding: 0px 30px;
  font-size: 70px;
  font-weight: 600;
}

.project-logo img {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1;
}

.project-section {
  display: flex;
  gap: 80px;
  justify-content: center;
  align-items: center;
}

.project-left,
.project-right {
  padding: 60px;
  gap: 20px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border: 2px solid white;
  cursor: pointer;
}

.project-left:hover,
.project-right:hover {
  transform: scale(1.05);
  transition: 0.3s;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border: 2px solid orange;
  background-image: linear-gradient(45deg, #3f0028, #582300);
}

.project-left h3,
.project-right h3 {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 20px;
}

.project-left img,
.project-right img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  padding-bottom: 20px;
}
.project-left img:hover,
.project-right img:hover {
  transform: scale(1.05);
  transition: 0.3s;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.project-left p,
.project-right p {
  font-size: 17px;
  font-weight: 200;
  margin-bottom: 20px;
}

.link {
  display: flex;
  justify-content: space-between;
}

.link a {
  text-decoration: none;
  color: orange;
  font-weight: 600;
  font-size: 20px;
}

.link a:hover {
  color: white;
  transition: 0.3s;
  font-size: 21px;
  font-weight: 600;
}

@media (max-width: 768px) {
  .myprojects {
    align-items: start;
    gap: 70px;
    margin: 20px 70px;
  }

  .project-logo h1 {
    font-size: 50px;
    padding: 0px;
  }

  .project-logo img {
    width: 130px;
    right: -20px;
  }

  .project-section {
    flex-direction: column;
    gap: 50px;
  }

  .project-left,
  .project-right {
    padding: 20px;
    gap: 10px;
  }

  .project-left h3,
  .project-right h3 {
    font-size: 25px;
    margin-bottom: 10px;
  }

  .project-left img,
  .project-right img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    padding-bottom: 10px;
  }
  .project-left p,
  .project-right p {
    font-size: 15px;
    font-weight: 200;
    margin-bottom: 10px;
  }
}

body:not(.dark-mode) .project-left:hover {
  background-image: none;
}
body:not(.dark-mode) .project-right:hover {
  background-image: none;
}
body:not(.dark-mode) .project-left {
  border: 2px solid black;
}
body:not(.dark-mode) .project-right {
  border: 2px solid black;
}
