.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 80px;
  margin: 80px 170px;
}

.contact-tital {
  position: relative;
}

.contact-tital h1 {
  padding: 0px 30px;
  font-size: 60px;
  font-weight: 600;
}

.contact-tital img {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1;
}

.contact-section {
  display: flex;
  gap: 150px;
}

.contact-left {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.contact-left h1 {
  font-size: 70px;
  font-weight: 700;
  background: linear-gradient(270deg, #df8908 80%, #b415ff 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.contact-left p {
  max-width: 550px;
  color: #d8d8d8;
  font-size: 18px;
  line-height: 30px;
}

.contact-details {
  display: flex;
  flex-direction: column;
  gap: 30px;
  color: #d8d8d8;
  font-size: 17px;
}

.contact-detail {
  display: flex;
  gap: 20px;
  align-items: center;
}

.contact-detail-icons {
  display: flex;
  justify-content: space-around;
}

.contact-detail-icons a {
  font-size: 50px;
  color: orange;
  cursor: pointer;

  text-decoration: none;
}

.contact-detail-icons a:hover {
  color: #b415ff;
  transition: 0.3s;
  transform: scale(1.2);
}

.contact-right {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 30px;
}

.contact-right label {
  font-size: 22px;

  font-weight: 500;
  color: #d8d8d8;
}

.contact-right input {
  border: none;
  width: 700px;
  height: 78px;
  padding-left: 20px;
  border-radius: 4px;
  background: #32323c;
  color: #a0a0a0;
  font-family: Outfit;
  font-size: 20px;
}

.contact-right textarea {
  width: 670px;
  border: none;
  padding: 25px;
  border-radius: 4px;
  background: #32323c;
  color: #a0a0a0;
  font-family: Outfit;
  font-size: 20px;
}

.contact-submit {
  border: none;
  color: white;
  border-radius: 50px;
  background: linear-gradient(264deg, #df8908 -5.09%, #b415ff 100%);
  font-size: 22px;
  padding: 20px 60px;
  margin-bottom: 50px;
  cursor: pointer;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}

.contact-submit:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transition: 0.3s;
  -webkit-transition: 0;
  -moz-transition: 0;
  -ms-transition: 0;
  -o-transition: 0;
}

@media (max-width: 768px) {
  .contact {
    margin: 50px 70px;
    gap: 50px;
    align-items: start;
  }
  .contact-tital h1 {
    font-size: 50px;
    padding: 0px;
    font-weight: 500;
  }
  .contact-tital img {
    width: 130px;
    right: -20px;
  }

  .contact-section {
    flex-direction: column;
  }
  .contact-left h1 {
    font-size: 54px;
  }

  .contact-left p {
    font-size: 18px;
  }

  .contact-detail {
    gap: 20px;
  }

  .contact-detail img {
    width: 25px;
  }

  .contact-detail-icons a {
    font-size: 30px;
  }

  .contact-right label {
    font-size: 20px;
  }
  .contact-right input {
    width: 100%;

    font-size: 20px;
  }

  .contact-right textarea {
    width: 95%;
    font-size: 20px;
  }

  .contact-submit {
    padding: 15px 40px;
    font-size: 20px;
  }
}

@media (max-width: 480px) {
  .contact-tital img {
    width: 110px;
    right: 140px;
  }
}

body:not(.dark-mode) .contact p {
  color: black;
}

body:not(.dark-mode) .contact-right label {
  color: black !important;
}

body.dark-mode .contact-right label {
  color: #fff !important;
}
